*{
  margin: 0px;
  padding: 0px;
}
body{
  font-family:'MS Serif';
  width: 100%;
}
.white{
  color: white;
}
.header-left{
  float:left;
  margin-left: 90px;
  top: 0px;
  font-size: 20px;
  padding-top: 20px;
}
.header-right{
  float: right;
  margin-right: 25px;
}
.header-right a{
  float:left;
  color: white;
  padding-left: 15px;
  text-decoration: none;
  font-size: 24px;
  padding-top: 15px;
  font-weight: bold;
}
.top{
  height: 390px;
  padding: 230px 90px;
  //background-image: url(https://cdn.pixabay.com/photo/2020/05/05/12/12/coffee-5132832_1280.jpg);
  background-size:cover;
}
.concept{
  height: 850px;
}
.top h1{
  padding: 130px 0px 0px ;
  margin-bottom: 0px;
  font-size: 70px;
}
.top h2{
  padding: 0px 40px;
  font-size: 35px;
}
.concept h3{
  margin: 0px 0px 5px 0px;
  text-align: center;
  font-size: 30px;
}
.concept p{
  padding: 70px  0px 60px 120px;
  width: 450px;
  font-size: 15px;
  float: left;
  line-height: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 28px;
}
.concept h2{
  padding: 60px 140px 10px;
  font-size: 70px;
}
.small{
  width: 440px;
  height: 240px;
  float: right;
  padding: 60px 150px 0px 40px ;

}
.concept h4{
  opacity: 0.05;
  float: right;
  padding: 20px 70px 40px 0px;
  font-size: 90px;
  letter-spacing: 7px;
}
.works{
  height: 900px;
  color: white;
  display: inline-block;
  background-image: url(https://cdn.pixabay.com/photo/2015/07/28/22/01/office-865091_1280.jpg);
  text-align: center;
  background-size: cover;
}
.works h2{
  float: right;
  font-size: 65px;
  margin: 0px 160px 0px px;
  letter-spacing: 5px;
  width: 42%;
  padding-left: 250px;

}
.works-image{
  background-color: white;
  width: 300px;
  height: 180px;
  position: relative;
  top: 10px;
}
.work p{
  color: black;
  background-color: white;
  width: 260px;
  font-size: 15px;
  padding: 20px 21px;
  margin: 0px 15px;
  position: absolute;
  line-height: 30px;
}
.work{
  float: left;
  width: 33.3%;
  margin: 50px 0px;
  height: 180px;
}
.container{
  width: 80%;
  height: 440px;

  display:block;
  margin: 70px auto;
}
.works a{
  font-weight: bold;
  background-color: #FFD700;
  border-radius: 30px;
  color:black;
  padding: 20px 80px;
  font-size: 15px;

}
.our-works{
  font-size: 90px;
  opacity: 0.1;
  margin:100px 600px 30px 0px ;
  letter-spacing: 5px;
  font-weight: 900;
}

.service{
  color: black;
  height: 780px;
  width: 100%;

}
.services{
  float: left;
  width: 33.3%;
  position: relative;
  height: 300px;
  padding-top: 100px;
}
.service-image{
  height: 300px;
  width: 100%;


}
.services h3{
  position: absolute;
  top:200px;
  left: 110px;
  color: white;
  font-size: 45px;
  font-weight:900;
  letter-spacing: 3px;
}
.service h1{
  clear: both;
  font-size: 95px;
  opacity: 0.05;
  float: right;
  padding:50px 90px 50px 0px;
  letter-spacing: 3px;
  font-weight:bold;
}
.service h2{
  font-size: 60px;
  padding:60px 0px 0px 200px;
  letter-spacing: 5px;
}
.contact{
  height: 720px;
  width: 100%;
  color: white;
  text-align: center;
  background-size: cover;
  background-image: url(contact-bgi@2x.jpg);
}
.contact h1{
  width: 50%;
  clear: both;
  font-size: 80px;
  float: right;
  letter-spacing: 5px;
  padding: 50px 0px 0px 200px;
}
.contact p{
  clear: right;
  font-size: 20px;
  padding: 70px 0px;
  font-weight: 800;
}

.contact span{
  clear: both;
  background-color: #FFD700;
  border-radius: 30px;
  padding: 20px 80px;
  color: black;
  font-weight: bold;
  letter-spacing: 1px;
}
.contact h4{
  opacity: 0.1;
  font-size: 120px;
  padding: 100px 0px 0px 60px;
  float: left;
}
footer{
  height: 30px;
  display:inline-block;
  width: 100%;
  text-align: center;
}
.footer p{
  padding-top: 10px;
}
.common{
  display: flex;
  align-items: center;
}
.border1:after{
  content: "";
  flex-grow: 0.25;
  height: 5px;
  background-color: black;
  margin-left: 20px;
}
.border2:after{
  content: "";
  flex-grow: 0.8;
  height: 5px;
  background-color: white;
  margin-left: 20px;
}
@media(max-width:670px){
  *{
    text-align: center;


  }
  .top{
    font-size: 30px;
    height: 300px;
  }
  .concept{
    text-align: center;
    float: none;
  }
  h2{
    font-size: 25px;
  }
  p{
    font-size: 18px;
    color: red;
  }


  .service{
    height: 900px;
    padding-top: 0;
  }

}
